@import url(vendors/normalize.css);
@import url(vendors/font-awesome/css/font-awesome.css);
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(fonts/Montserrat.ttf) format('truetype'); }

#icons, #rules, #facet {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3), inset 0 -3px 5px rgba(0, 0, 0, 0.3); }

html {
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif; }

#home {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/img/home-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 35em; }
  #home:after {
    content: " ";
    display: block;
    clear: both; }
  #home .logo {
    
    
    
    width: 66.66667%;
    float: left;
    
    
    
     }
    #home .logo img {
      display: block;
      height: 28em;
      margin: 3.5em auto;
      max-width: 100%; }
  #home .text {
    
    
    
    width: 33.33333%;
    float: right;
    
    margin-right: 0;
    
    
    position: relative;
    height: 100%; }
    #home .text .container {
      
      
      
      width: 50%;
      float: left;
      
      
      
      
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }
    #home .text p {
      color: #000;
      font-size: 1.1em;
      line-height: 1.8em;
      margin-bottom: 2em; }
    #home .text .button {
      text-align: center;
      transition-property: all;
      transition-duration: .3s;
      border: 2px solid #0588B2;
      border-radius: 5px;
      padding: 0.5em; }
      #home .text .button a {
        font-size: 1.5em;
        text-decoration: none;
        color: #0588B2; }
      #home .text .button:hover, #home .text .button:active {
        border-color: #24c5f9; }
        #home .text .button:hover a, #home .text .button:active a {
          color: #24c5f9;
          outline: 0; }
      #home .text .button:active {
        box-shadow: 0 0 5px #24c5f9; }

#icons {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  
  
  
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  
  
  width: 100%;
  height: 80px; }
  #icons:after {
    content: " ";
    display: block;
    clear: both; }
  #icons li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 14%;
    text-align: center; }
    #icons li img {
      height: 48px;
      width: auto;
      margin: 1em auto; }

#services {
  background-color: #0d87b2;
  min-height: 30rem;
  clear: both;
  
  
  
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  
  
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #services:after {
    content: " ";
    display: block;
    clear: both; }
  #services:after {
    content: "";
    display: table;
    clear: both; }
  #services .side {
    
    
    
    width: 50%;
    float: left;
    
    
    
    
    padding: 5em 0; }
  #services .text {
    padding: 0 10em;
    margin: auto; }
  #services .media {
    text-align: center;
    vertical-align: center; }
    #services .media img {
      height: 25em; }
  #services h2 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase; }
  #services p {
    font-size: 1.1em;
    color: #fff;
    line-height: 1.8em;
    font-weight: 300; }

#rules {
  background-color: gainsboro;
  min-height: 30rem;
  clear: both;
  
  
  
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  
  
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #rules:after {
    content: " ";
    display: block;
    clear: both; }
  #rules:after {
    content: "";
    display: table;
    clear: both; }
  #rules .side {
    
    
    
    width: 50%;
    float: left;
    
    
    
    
    padding: 5em 0; }
  #rules .text {
    padding: 0 10em;
    margin: auto; }
  #rules .media {
    text-align: center;
    vertical-align: center; }
    #rules .media img {
      height: 25em; }
  #rules h2 {
    font-size: 2em;
    color: #000;
    text-transform: uppercase; }
  #rules p {
    font-size: 1.1em;
    color: #000;
    line-height: 1.8em;
    font-weight: 300; }

#install {
  background-color: #02445b;
  min-height: 30rem;
  clear: both;
  
  
  
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  
  
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #install:after {
    content: " ";
    display: block;
    clear: both; }
  #install:after {
    content: "";
    display: table;
    clear: both; }
  #install .side {
    
    
    
    width: 50%;
    float: left;
    
    
    
    
    padding: 5em 0; }
  #install .text {
    padding: 0 10em;
    margin: auto; }
  #install .media {
    text-align: center;
    vertical-align: center; }
    #install .media img {
      height: 25em; }
  #install h2 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase; }
  #install p {
    font-size: 1.1em;
    color: #fff;
    line-height: 1.8em;
    font-weight: 300; }

#facet {
  background-color: #066d91;
  min-height: 30rem;
  clear: both;
  
  
  
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  
  
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #facet:after {
    content: " ";
    display: block;
    clear: both; }
  #facet:after {
    content: "";
    display: table;
    clear: both; }
  #facet .side {
    
    
    
    width: 50%;
    float: left;
    
    
    
    
    padding: 5em 0; }
  #facet .text {
    padding: 0 10em;
    margin: auto; }
  #facet .media {
    text-align: center;
    vertical-align: center; }
    #facet .media img {
      height: 25em; }
  #facet h2 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase; }
  #facet p {
    font-size: 1.1em;
    color: #fff;
    line-height: 1.8em;
    font-weight: 300; }

#team {
  background-color: gainsboro;
  min-height: 30rem;
  clear: both;
  
  
  
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  
  
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #team:after {
    content: " ";
    display: block;
    clear: both; }
  #team:after {
    content: "";
    display: table;
    clear: both; }
  #team .side {
    
    
    
    width: 50%;
    float: left;
    
    
    
    
    padding: 5em 0; }
  #team .text {
    padding: 0 10em;
    margin: auto; }
  #team .media {
    text-align: center;
    vertical-align: center; }
    #team .media img {
      height: 25em; }
  #team h2 {
    font-size: 2em;
    color: #000;
    text-transform: uppercase; }
  #team p {
    font-size: 1.1em;
    color: #000;
    line-height: 1.8em;
    font-weight: 300; }
  #team .container {
    
    
    
    width: 75%;
    float: left;
    
    
    
    
    padding-left: 12.5%;
    
    
    padding-right: 12.5%;
    padding-top: 5em;
    padding-bottom: 5em; }
    #team .container .col {
      
      
      
      width: 33.33333%;
      float: left;
      
      
      
       }
    #team .container h2 {
      text-align: center;
      color: #02445b; }
      #team .container h2 i {
        color: #333; }
    #team .container p, #team .container ul {
      padding: 0 5em; }
    #team .container ul {
      list-style: none; }
      #team .container ul li {
        line-height: 2em; }
    #team .container a {
      color: #333; }
      #team .container a:hover, #team .container a:active {
        color: #333; }
