@import 'vendors/normalize.css';
@import 'vendors/font-awesome/css/font-awesome.css';
@import 'vendors/susy/susy';

$susy: (
    columns: 12,
    gutters: 0,
    output: float,
);

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(fonts/Montserrat.ttf) format('truetype');
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%shadow {
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.3), inset 0 -3px 5px rgba(0,0,0,0.3);
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    @include show-grid;

    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

#home {
    @include container;

    $height: 35em;

    background-image: url('/img/home-background.png');
    background-repeat: no-repeat;
    background-size: cover;

    height: $height;

    .logo {
        @include span(8 of 12 first);

        img {
            display: block;
            height: $height * 0.8;
            margin: $height * 0.1 auto;
            max-width: 100%;
        }
    }

    .text {
        @include span(4 of 12 last);

        position: relative;

        height: 100%;

        .container {
            @include span(2 of 4);

            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

        }

        p {
            color: #000;
            font-size: 1.1em;
            line-height: 1.8em;
            margin-bottom: 2em;
        }

        .button {
            $color: #0588B2;
            $color-active: lighten($color, 20%);

            text-align: center;

            transition-property: all;
            transition-duration: .3s;

            border: 2px solid $color;
            border-radius: 5px;
            padding: 0.5em;

            a {
                font-size: 1.5em;
                text-decoration: none;
                color: $color;
            }

            &:hover, &:active {
                border-color: $color-active;

                a {
                    color: $color-active;
                    outline: 0;
                }
            }

            &:active {
                box-shadow: 0 0 5px $color-active;
            }
        }
    }
}

#icons {
    @extend %shadow;

    list-style: none;
    margin: 0;
    padding: 0;

    @include container;
    @include full;

    width: 100%;

    height: 80px;

    li {
        margin: 0;
        padding: 0;

        display: inline-block;

        width: 100% * .14;

        text-align: center;

        img {
            height: 48px;
            width: auto;

            margin: 1em auto;
        }
    }
}

@mixin section($text-color) {
    min-height: 30rem;

    @include full;
    @include container;
    @include clearfix;

    .side {
        @include span(6 of 12 first);

        padding: 5em 0;
    }

    .text {
        padding: 0 10em;
        margin: auto;
    }

    .media {
        text-align: center;
        vertical-align: center;

        img {
            height: 25em;
        }
    }

    h2 {
        font-size: 2em;
        color: $text-color;
        text-transform: uppercase;
    }

    p {
        font-size: 1.1em;
        color: $text-color;
        line-height: 1.8em;
        font-weight: 300;
    }
}

#services {
    background-color: rgb(13, 135, 178);

    @include section(#fff);
}

#rules {
    background-color: rgb(220, 220, 220);

    @extend %shadow;

    @include section(#000);
}

#install {
    background-color: rgb(2, 68, 91);

    @include section(#fff);
}

#facet {
    background-color: rgb(6, 109, 145);

    @extend %shadow;

    @include section(#fff);
}

#team {
    background-color: rgb(220, 220, 220);

    @include section(#000);

    .container {
        @include span(9 of 12);
        @include pad(1.5);

        padding-top: 5em;
        padding-bottom: 5em;

        .col {
            @include span(3 of 9);
        }

        h2 {
            text-align: center;

            color: rgb(2, 68, 91);

            i {
                color: #333;
            }
        }

        p, ul {
            padding: 0 5em;
        }

        ul {
            list-style: none;

            li {
                line-height: 2em;
            }
        }

        a {
            color: #333;

            &:hover, &:active {
                color: #333;
            }
        }
    }
}
